---
---

:root {
  --main-color: #0091d0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #e0e7ef;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 1.1rem;
}

.dashboard-page {
  display: grid;

  .avatar {
    border-radius: 100%;
    padding: calc(var(--avatar-size) / 8);
    box-sizing: border-box;
    max-height: var(--avatar-size);
    max-width: var(--avatar-size);
    --avatar-size: 4rem;


    img[src*="avatar"] {
      aspect-ratio: 1 / 1;
      width: 100%;
      box-sizing: border-box;
      object-fit: contain;
    }

    &--1 {
      background-color: #ffcb3c;
    }
    &--2 {
      background-color: #ddf2fd;
    }
    &--3 {
      background-color: #a2a2a2;
    }
    &--4 {
      background-color: #ffa3ae;
    }
  }
}

@mixin button-hover {
  filter: brightness(1.1);
  background-color: hsl(198, 60%, 48%);
}

@mixin icon-hover {
  // TODO
}

.sidebar {
  color: white;
  background-color: var(--main-color);
  font-weight: bold;
  display: grid;
  gap: 1.5rem;
  font-size: 1.2rem;

  nav {
    display: grid;
    gap: 3rem;

    &.hidden {
      display: none;
    }
  }

  header, li a {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;

    img[src*="icon"] {
      filter: invert(95%);
    }

    &:hover {
      @include button-hover();
    }
  }

  header {
    h1 {
      font-size: 2rem;
    }

    img {
      width: 3rem;
    }
  }

  li a img {
    justify-self: right;
    padding: 0 0.6rem;
  }
}

.header {
  display: grid;
  font-size: 1.1rem;
  padding: 1rem clamp(1rem, 4vw, 4rem);
  gap: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;

  .search-area {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 1rem;

    label {
      line-height: 0;
    }

    input[type="search"] {
      background-color: #e0e7ef;
      border-radius: 20px;
      padding: 0.3rem 1rem;
      min-width: 100%;
    }
  }

  .profile-area {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    order: -1;
    justify-content: flex-end;

    img {
      max-height: 100%;
      &[src*="icon"] {
        flex: none;
      }
    }
  }

  .welcome-area {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5rem;

    .avatar {
      --avatar-size: 5.5rem;
    }

    .text {
      display: grid;
      gap: 0.5rem;

      h2 {
        font-size: 1.3rem;
      }

      p {
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }

  .control-area {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    align-items: center;

    a {
      flex: 0 0 8rem;
      padding: 0.8rem;
      background-color: var(--main-color);
      color: white;
      border-radius: 25px;
    }

    a:hover {
      @include button-hover();
    }
  }
}

.dashboard {
  .contents-card, .card {
    background-color: #fff;
  }
}


@media (min-width: 1024px) {
  .dashboard-page {
    grid-template-columns: 20rem 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar dashboard";
    height: 100vh;
  }

  .sidebar {
    grid-area: sidebar;
    align-content: start;

    nav.hidden {
      display: grid;
    }
  }

  .header {
    grid-template-columns: 1fr auto;
    grid-area: header;

    .profile-area {
      order: 0;
    }

    .control-area {
      display: grid;
      grid-template-columns: repeat(3, 8rem);
    }
  }

  .dashboard {
    grid-area: dashboard;
    overflow: scroll;
  }
}
